[settings]
; https://pycqa.github.io/isort/docs/configuration/options.html
profile=hug
src_paths=isort,test
sections=FUTURE,STDLIB,FIRSTPARTY,THIRDPARTY,LOCALFOLDER
known_first_party=PySide6
known_local_folder=app
import_heading_stdlib=Standard Library
import_heading_thirdparty=Third party imports
import_heading_firstparty=Framework imports
import_heading_localfolder=Application imports
line_length=180
multi_line_output=0
remove_redundant_aliases=true